<p style="text-emphasis-color: black;"> <br><br>
    
 
</p>

<form [formGroup]="signUpForm" >
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control"  placeholder="First Name" formControlName="firstname" required="required"></div>
				<div class="col"><input type="text" class="form-control"  placeholder="Last Name" required="required" formControlName="lastname"></div>
			</div>        	
        </div>
        <div class="form-group">
            
            <input type="text" class="form-control"placeholder="Username" formControlName="username" required>
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" formControlName="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" placeholder="Password"formControlName="password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control"  placeholder="Confirm Password"formControlName="confirmPassword" required="required">
        </div>        
        
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </form>
	