<br><br><br>
<h3 style="text-align: center;"> Manage Your Orders</h3>

<div class="container" style="margin-left: 17%;">
    <div class="row col-md-9 col-md-offset-5 custyle">
        
    <table class="table table-striped custab">
        <div *ngFor="let book of details">
    <thead>
    
        <tr>
           
            <th>Name</th>
            <th>Game Name</th>
            <th>Email</th>
            <th>Date</th>
            <th>Booking status</th>
            <th class="text-center">Action</th>
        </tr>
        
        </thead>
    
            <tr>
                
                <td>{{book.user[0].firstname}} {{book.user[0].lastname}}</td>
            
            
                <td>{{book.coach[0].selectedgame}}</td>
                <td>{{book.user[0].email}}</td>
                <td>{{book.bookingdate}}</td>
                <td>{{book.bookingstatus}}</td>
                <div *ngIf="book.bookingstatus !=='Accepted'  && book.bookingstatus !=='Rejected' ">
                <td class="text-center"><a class='btn btn-danger btn-xs' (click)="reject(book)" ><span class="glyphicon glyphicon-edit"></span> Reject </a>&nbsp; &nbsp; <a (click)="accept(book)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-remove"></span> Accept </a></td>
                </div>
                <div *ngIf="book.bookingstatus=='Accepted'">
                <td class="text-center"><button class="btn btn-success">Accepted</button></td>
                </div>
                <div *ngIf="book.bookingstatus=='Rejected'">
                <td class="text-center"><button class="btn btn-danger">Rejected</button></td>
                </div>
            </tr>

     </div>
    </table>
</div>
</div>