<div class="header">


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <a class="navbar-brand" href="#">   UG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link " href="#" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown ">
          <a class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" >Games</a>
      
      
        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Pubg Mobile</a>
          <a class="dropdown-item" >Apex Legends</a>
          <a class="dropdown-item" href="#">Call of Duty</a>
          <a class="dropdown-item" href="#">Counter-Strike</a>
        </div>
      
          </li>
        
        <li class="nav-item dropdown ">
          <a class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">FPS Guide</a>
      
      
        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Pubg Mobile</a>
          <a class="dropdown-item" routerLinkActive="activee" routerLink="/ApexFps">Apex Legends</a>
          <a class="dropdown-item" href="#">Call of Duty</a>
          <a class="dropdown-item" href="#">Counter-Strike</a>
        </div>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" >About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " style="text-align: right;" routerLink="login" >Login/Signup </a>
          </li>
      </ul>
      
    
    </div>
   
  </nav>

  
  
  
  
  </div>