<p style="text-emphasis-color: black;"> <br><br>
    
</p> 

<form [formGroup]="fpsCoach" (ngSubmit)="onSubmit()">
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from earning your own money!</p>
            
        </div>
        
       <div class="col-md-9 register-right">
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a FPS Coach</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="firstname"  placeholder="First Name *"  >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name *" name="lastname" />
                            </div>
                            <label>Enter Game Information: </label>
                            <div class="form-group">
                                <select formControlName="selectedgame" name="selectedgame" class="form-control">
                                    <option class="hidden" selected disabled>Select your game</option>
                                    <option>Apex Legends</option>
                                    <option>Pubg Mobile</option>
                                    <option>CS:GO</option>
                                    <option>Call of Duty</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="hoursingame" name="hoursingame" placeholder="Hours in game *"  />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="experience" name="experience"  placeholder="Experience in fps coaching (in years) *"  />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="available" name="available" placeholder="Available for (in hours) *"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="perhourcharge" name="perhourcharge" placeholder="per hour charge *"  />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" formControlName="email" name="email" placeholder="Your Email *"  />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10"  formControlName="contactno" name="contactno" class="form-control" placeholder="Your Phone *" />
                            </div>
                            
                            <label for="img">Upload your image:</label>
                            <input type="file" formControlName="image" name="img" accept="image/*" (change)="onFileSelect($event)">
                           
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="timings" placeholder="Timings: from *" >
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
   
 
    </div>

</div>


</form>