 
 <p style="text-emphasis-color: black;"> <br><br>
    
    </p> 
<div class="apexfpsheadi">

</div>
<div *ngFor="let apex of ApexFps">
    <!-- <p>{{apex.Settings[0].displayMode}}<p></p>
     -->
    


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Fps guide to Apex Legends</h1>

        <!-- Author -->
        

        <hr>

        <!-- Date/Time -->
        <p>Posted on July 29, 2020 </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="../../assets/images/s1.png" alt="">
        <hr>
        <img class="img-fluid rounded" src="../../assets/images/s2.png" alt="">

        <hr>

        
        <blockquote class="blockquote">
          <p class="mb-0">Now if your pc or laptop has a dedicated gpu of atleast vram of 4gb (1050ti or above) and has a 4C/8T processor make your settings like the same as shown in the image above</p>
          <footer class="blockquote-footer">Here is the what you need to do for
            <cite title="Source Title">{{apex.desc}}</cite>
          </footer>
        </blockquote>
        <ul>
        <li>Display Mode : {{apex.Settings[0].displayMode}}</li>

        <li>Aspect Ratio : {{apex.Settings[1].aspectRatio}}</li>
        <li>Resolution : {{apex.Settings[2].resolution}}</li>
        <li>Field Of View: {{apex.Settings[3].fieldOfView}}</li>
        <li>Vsync : {{apex.Settings[4].Vsync}}</li>
        <li>Adaptive Fps Target : {{apex.Settings[5].adaptiveFpsTarget}}</li>
        <li>Adaptive Super Sampling : {{apex.Settings[6].adaptiveSuperSampling}}</li>
        <li>Anti Aliasing : {{apex.Settings[7].AntiAliasing}}</li>
        <li>Texture Streaming Budget : {{apex.Settings[8].TextureStreamingBudget}}</li>
        <li>Texture Filtering : {{apex.Settings[9].TextureFiltering}}</li>
        <li>Volumetric Lightning : {{apex.Settings[10].VolumetricLightning}}</li>
        <li>Model Detail : {{apex.Settings[11].ModelDetail}}</li>
        <li>Dynamic Spot : {{apex.Settings[12].DynamicSpot}}</li>
        <li>Effects Detail : {{apex.Settings[13].EffectsDetail}}</li>
        <li>Impact Marks : {{apex.Settings[14].ImpactMarks}}</li>
    </ul>
       


        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

      

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Explore Fps guide for </h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Pubg Mobile</a>
                  </li>
                  <li>
                    <a href="#">COD</a>
                  </li>
                  <li>
                    <a href="#">CS:GO</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Comments</h5>
          <div class="card-body">
            If you do have more information to boost the fps please put it in the comments and do also post how much do you like our fps guidd </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
</div>